PORT=port_number
DATABASE_URL=your_database_url
BCRYPT_SALT_ROUNDS=salt_rounds
NODE_ENV=development | production

JWT_ACCESS_SECRET=jwt secret key
JWT_REFRESH_SECRET=jwt refresh secret key

JWT_ACCESS_EXPIRES_IN=token expiry time
JWT_REFRESH_EXPIRES_IN=refresh token expiry time